<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "The Map", root_path, :class => 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "All places", root_path, :class => 'nav-link'  %>
      </li>

      <li class="nav-item">
        <%= link_to "Categories", '/categories', :class => 'nav-link'  %>
      </li>

      <li class="nav-item">
        <%= link_to "Add a place", '/newPlace', :class => 'nav-link'  %>
      </li>

    </ul>

    <ul class="navbar-nav navbar-right">
      
      <% if user_signed_in? %>
      
        <li class="nav-item navbar-text">
          Hello, <%= current_user.email %>
        </li>

        <li class="nav-item">
          <%= link_to "My places", '/listPlaces', :class => 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'nav-link' %>
        </li>

      <% else  %>

        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, :class => 'nav-link' %>
        </li>

      <% end  %>

    </ul>

  </div>
</nav>