<h1>add a new place</h1>
<div class="container">
	<%= simple_form_for(@place, html: { class: 'form-vertical' }) do |f| %>
		<%= f.input :name, label: 'Name'%>
		<%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name), :prompt => "Select category") %>
		<%= f.input :address, label: 'Address'%>
  	<%= f.input :description, label: 'Description'%>
  	<%= f.button :submit %>
	<% end %>
</div>
