<div class="row top-buffer">

	<div class="col-lg-8">
		<div id="map" class="container" style="height: 400px"></div>
		<%= render "shared/map" %>
	</div>

	<div class="col-lg-4 text-center">
		<div class="container">
			<div class="card ">
				<h1><%= @place.name %></h1>
				<p class="title"><%= @place.address %></p>
				<p class="text-muted"><%= t(:'lon:') %> <%= @place.longitude %>, <%= t(:'lat:') %> <%= @place.latitude %></p>
				<p class="title text-info"><%= @place.description %></p>

				<div style="margin: 24px 0;">
					<a href="#reviews" data-turbolinks="false"><i class="material-icons">comment</i></a>
					<% if user_signed_in? && @place.user_id == current_user.id %>
    				<%= link_to '<i class="material-icons">delete_forever</i>'.html_safe, place_path(@place.id), method: :delete, data: {:confirm => t(:'Are you sure?')} %>
    				<%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_place_path(@place.id) %>
    			<% end  %>
 				</div>

			</div>
		</div>
	</div>

</div>

<div id="reviews" class="row top-buffer">
	<div class="container">
		<%= render partial: "comments/template", locals: {commentable: @place, new_comment: @comment} %>
	</div>
</div>